<h4><strong>Step 2</strong></h4>

<h6>Transport to</h6>
<%= simple_form_for [@trip, @transport_to] do |f| %>
  <%= f.input :variety %>
  <%= f.input :price_person %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<h6>Transport there</h6>
<%= simple_form_for [@trip, @transport_there] do |f| %>
  <%= f.input :variety %>
  <%= f.input :price_day_person %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<h6>Hotels</h6>
<%= simple_form_for [@trip, @hotel] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :price_night_person %>
  <%= f.input :breakfast %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
